<button class="add-todo-list btn-xs">Add Todo List</button>

<% todos.each(function(todo_list){ %>  
  <div class='todo-list' data-id='<%=todo_list.id%>'>
    <a href="#todo-lists/<%=todo_list.id%>"<h3><%=todo_list.escape("title")%></h3></a>
    <ul>
      <%todo_list.todos().each(function(todo){ %>
        <li class="todo-li" data-list-id="<%=todo_list.id%>" data-id="<%= todo.id %>"> 
        <label>
        <input type="checkbox" class="todo" data-id="<%= todo.get('id') %>" 
                      <%if(todo.get("completed")){%> CHECKED<%}%>>
            <%=todo.escape("title")%> :
            <%var dueClass%>
            <%var due = Date.parse(todo.get("due_date"))%>
            <% var today = Date.now() %>
            <%if( due > today){dueClass = "notDue"}else{dueClass ="pastDue"}%>
            <span class="<%=dueClass%>"><%=todo.escape("due_date").substring(0,10)%></span></label>
            <a class="index-todo">Edit</a></li>
      <% }) %>
    </ul>
    <div class='new-todo-input'></div>  
    <button class="add-single-todo btn-xs" data-id="<%= todo_list.id %>">Add todo</button>
  </div>
<% }) %>