<!DOCTYPE html>
<html>
<head>
  <title>Camp6</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="content">
    <%= render "layouts/nav" %>
    <%if notice%>
      <div class="alert alert-info"><%= notice %></div>
    <%elsif alert%>
      <div class="alert alert-danger"><%= alert %></div>
    <%end%>
    <%= yield %>
  </div>
</body>
</html>
